<?xml version="1.0"?>
<Configuration xmlns="http://www.sdltridion.com/2009/GUI/Configuration/Merge"
               xmlns:cfg="http://www.sdltridion.com/2009/GUI/Configuration"
							 xmlns:ext="http://www.sdltridion.com/2009/GUI/extensions"
               xmlns:cmenu="http://www.sdltridion.com/2009/GUI/extensions/ContextMenu">

    <resources cache="true">
        <cfg:filters />
        <cfg:groups>
            <cfg:group name="ReleaseManagerExtension.Commands" merger="Tridion.Web.UI.Core.Configuration.Resources.CommandGroupProcessor" merge="always">
                <cfg:fileset>
                    <cfg:file type="style">/css/ReleaseManagerExtension.css</cfg:file>
                    <cfg:file type="script">/js/ReleaseManagerExtension.js</cfg:file>
                    <cfg:file type="reference">ReleaseManagerExtension.Release</cfg:file>
                </cfg:fileset>
                <cfg:dependencies>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME2010</cfg:dependency>
                    <cfg:dependency>Tridion.Web.UI.Editors.CME2010.commands</cfg:dependency>
                </cfg:dependencies>
            </cfg:group>
        </cfg:groups>
    </resources>

    <definitionfiles />

    <extensions>
        <ext:editorextensions>
            <ext:editorextension target="CME">
                <ext:editurls/>
                <ext:listdefinitions/>
                <ext:taskbars  />
                <ext:commands  />
                <ext:commandextensions/>
                <ext:contextmenus>
                    <ext:add>
                        <ext:extension name="ReleaseManagerExtensionReleaseMenu" assignid="ReleaseX_cm" insertbefore="cm_sep_1">
                            <ext:menudeclaration>
                                <cmenu:ContextMenuItem id="releaseX" name="Release" command="AddToRelease" />
                            </ext:menudeclaration>                           
                            <ext:dependencies>
                                <cfg:dependency>ReleaseManagerExtension.Commands</cfg:dependency>
                            </ext:dependencies>                           
                            <ext:apply>
                                <ext:view name="DashboardView">
                                    <ext:control id="DashboardContextMenu" />
                                </ext:view>
                            </ext:apply>
                        </ext:extension>

                    </ext:add>
                </ext:contextmenus>
                <ext:lists />
                <ext:tabpages />
                <ext:toolbars  />
                <ext:ribbontoolbars>
                    <ext:add>
                        <ext:extension pageid="HomePage" name="Releasemanager" groupid="Releasemanagement" assignid="Releasemanager">
                            <ext:command>ManageReleases</ext:command>
                            <ext:title>Releasemanager</ext:title>                           
                            <ext:dependencies>
                                <cfg:dependency>ReleaseManagerExtension.Commands</cfg:dependency>
                            </ext:dependencies>                            
                            <ext:apply>
                                <ext:view name="DashboardView">
                                    <ext:control id="DashboardToolbar" />
                                </ext:view>
                            </ext:apply>
                        </ext:extension>
                    </ext:add>
                </ext:ribbontoolbars>
            </ext:editorextension>
        </ext:editorextensions>
        <ext:dataextenders/>
    </extensions>

    <commands>
        <cfg:commandset id="ReleaseManagerExtension.Release">           
            <cfg:command name="AddToRelease" implementation="ReleaseManagerExtension.AddToRelease"  />
            <cfg:command name="ManageReleases" implementation="ReleaseManagerExtension.ManageReleases"  />
        </cfg:commandset>
    </commands>

    <contextmenus />
    <localization />
    <settings>
        <defaultpage/>
        <navigatorurl/>
        <editurls/>
        <listdefinitions />
        <itemicons />
        <theme>
            <path>Themes</path>
        </theme>
        <customconfiguration />
    </settings>

</Configuration>
